<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
    <form action='/' method="GET">
        <button class="btn btn-primary btn-lg position-absolute top-0 start-0">         <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-circle justify-content-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg> Back</button>
    </form>
        <h1>Instructions</h1>
    </div>
    <div class="col-md h-100 p-5 justify-content-center align-items-center"></div>
    <div class="container justify-content-center">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row h-100 p-5 justify-content-center align-items-center" align="center">
                <div class="col-sm-6">
                    <div class="card border-5">
                    <div class="card-body">
                        <h5 class="card-title">Before you start the quiz!</h5>
                        <p class="card-text">                
                            This quiz is consisted of 24 questions and each question has only ONE answer.</br>
                            Select your answer.</br>
                            Click SUBMIT and it will show you if you are correct or not.</br>
                            Click NEXT for a next question.</br>
                            After completed 20 questions you will see your final score on a last page.</br>
                            GOOD LUCK!!</p>
                            <form action='/quiz' method="GET">
                                <button class="btn btn-primary btn-lg btn-block">Start Quiz</button>
                            </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3 " id="footer" style="background-color: rgb(189, 189, 189);">
            Made by: Yana, Yuna, Denise and Ben on
        <a class="text-dark" href="https://gather.town/app/6jqMoDpFXeiW58He/mod3">Gather Town</a>
    </div>
</main>
