<main>
    <div>
        <h1>Quiz App!</h1>
    </div>
    <form action='/quiz' method="GET">
        <button>Start Quiz</button>
    </form>
    <form action='/instructions' method="GET">
        <button>Instructions</button>
    </form>
</main>