<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Quiz App!</h1>
    </div>
    <div class="row h-100 p-5 justify-content-center align-items-center"></div>
    <div class="container justify-content-center">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row" align="center">
                <form action='/quiz' method="GET">
                    <button class="btn btn-primary btn-lg btn-block">Start Quiz</button>
                </form>
            </div>
            <div class="col-md h-100 p-5 justify-content-center align-items-center"></div>
            <div class="row" align="center">
                <form action='/instructions' method="GET">
                    <button class="btn btn-primary btn-lg">Instructions</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" id="footer" style="background-color: rgb(189, 189, 189);">
      Made by: Yana, Yuna, Denise and Ben on
    <a class="text-dark" href="https://gather.town/app/6jqMoDpFXeiW58He/mod3">Gather Town</a>
  </div>
</main>