<main>
    <a href="/">Back</a>
    <div class="container">
        <div class="col"></div>
        <div class="col" id="question">
            {{this.question}}
        </div>
        <div class="col" id="answers">
            {{#each answers}}
            <div id={{this.id}}>
                {{this.answer}}
            </div>
            {{/each}}
        </div>
    </div>
    <form id="submit_form">
        <button id="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
</main>
<script>
    function sendRequest(url, method, callback) {
        const xhttp = new XMLHttpRequest()
        xhttp.open(method, url, true)
        xhttp.onload = callback
        xhttp.send()
    }
    const button = document.getElementById("submit")
    const question = document.getElementById("question")
    const answers = document.getElementById("answers")
    let state = {
        answer_submitted: false
    }
    button.addEventListener("click", () => {
        event.preventDefault()
        if (state.answer_submitted) {
            // user clicked "next"
            button.innerHTML = "Submit"
            state.answer_submitted = false
            const cb = function() {
                response = JSON.parse(this.responseText)
                question.innerHTML = response.next_question
                answers.innerHTML = ''
                response.next_answers.forEach(answer => answers.innerHTML += '<div id="' + answer.id + '">' + answer.answer + '</div>')
            }
            sendRequest("/next", "POST", cb)
        } else {
            // user clicked "submit"
            button.innerHTML = "Next"
            state.answer_submitted = true
            const cb = function() {
                response = JSON.parse(this.responseText)
                console.log(response)
                const is_correct = response.is_correct
            }
            sendRequest("/submit", "POST", cb)
        }
    })
</script>
