<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>End of Quiz</h1>
    </div>
    <div class="row h-100 p-5 justify-content-center align-items-center"></div>
    <div class="container justify-content-center">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row" align="center">
                <button class="btn btn-primary btn-lg">Your score: </button>
            </div>
            </div>
            <div class="col-md h-100 p-5 justify-content-center align-items-center"></div>
            <div class="row" align="center">
                <form action='/' method="GET">
                    <button class="btn btn-primary btn-lg btn-block">Go home</button>
                </form>
            </div>
        </div>
    </div>
</main>