<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>End of Quiz</h1>
    </div>
    <div class="row h-100 p-5 justify-content-center align-items-center"></div>
    <div class="container justify-content-center">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row h-100 p-5 justify-content-center align-items-center" align="center">
                <div class="col-sm-6">
                    <div class="card border-5">
                    <div class="card-body">
                        <h5 class="card_score">Your Score: {{this.score}} out of 24</h5>
                            <form action='/' method="GET">
                    <button class="btn btn-primary btn-lg btn-block">Go home</button>
                </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>