
html, body{
    height:100%;
    width:100%;
    padding: 0;
}


#progress{
    height: 15%;
    background-color: #7b2aff;
}


.question_container{
    background-color: #ffffff;
    
}

#filler{
    background-color: #ffffff;
    
}



.option_container{
   background-color: #7b2aff;
   cursor: pointer;
}


.active div{
    background-color: #43a3fe!important;
  }



.option{
    color: white;
    background-color: #7b2aff;
    text-align: center;
    padding: 2%;
}


.active {
    background-color: #43a3fe!important;
  }

.submit_container{
    background-color: #7b2aff;
}

.submit_filler{
    background-color: #7b2aff;
}

.instruction {
    display: flex;
    flex-direction: column;
    margin: 16px;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}